@import "_normalize.scss";
$phone-breakpoint: 760px; 
$tablet-breakpoint: 975px;


body { 
  display: flex; 
  flex-direction: column;
  padding: .3em;
	font-family: 'Montserrat', sans-serif;
	font: 18px 'Montserrat', sans-serif;
	@include tablet {
		font-size: 20px;
}
	@include desktop {
		font-size: 16px;
	}
}

header { 
	width: 100%;
	font-size: 1.4em;
} 

main { 
  flex: 1; 
	font-size: 18px;

}

footer { 
  width: 100%; 
}

sup { 
  font-size: 25%; 
  line-height: 0;
  position: relative; 
  vertical-align: baseline; 
  top: -2.25em; 
}



@import "_attribute-styles.scss";